@import "tailwindcss";

.body{
  @apply bg-[#F8F9FC];
}

.div{
  @apply mb-0;
}

.title {
  @apply text-2xl font-semibold text-center text-gray-700 mt-8 mb-8;
}

.input {
  @apply w-full px-10 py-2.5 border border-gray-300 rounded text-sm focus:outline-none focus:ring-2 focus:ring-purple-100 focus:border-purple-300 focus:shadow-xs;
}

.btn {
  @apply py-3 bg-[#3E4784] hover:bg-blue-600 px-4 py-2 rounded text-sm transition-colors; 
}

.inputFieldBase {
  @apply text-sm font-medium text-gray-700;
}

.forgotMdp{
  @apply text-sm font-medium text-gray-700 text-center;
}

.headerTitle{
  @apply shadow-sm bg-white p-12;
}

h1{
  @apply text-5xl font-semibold text-gray-900;
}

h4{
  @apply text-[#717680] text-base font-semibold py-2;
}